<div class="container w-50">

<h1> Stupid Coach</h1>
  <form action="/answer" data-turbo="false">
  <label for="question" class="form-label">Quel est votre question ?</label>

  <div class="input-group mb-3">
    <input name="question" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="submit" id="button-addon2">Ask!</button>
  </div>
  </form>
</div>
